<div class="container">
  <img src="../assets/images/Rabobank.png" width="270px" />
  <hr />
  <h4>Upload only .csv format file</h4>
  <p>
    <ngb-alert [dismissible]="false" *ngIf="displayAlert">
      <strong>Warning!</strong> Invalid CSV file. Please import valid file.
    </ngb-alert>
  </p>
  <form>
    <div class="form-group">
      <input type="file" name="files" class="form-control col-md-3" #uploads (change)="uploadFile(uploads.files)"
        accept=".csv" />
    </div>
  </form>
  <div class="table-align" *ngIf="dataList.length != 0">
    <label>Filter By Issue Count</label>
    <div class="form-group">
      <input type="text" class="form-control col-md-3" [(ngModel)]="issueCount" />
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Sur Name</th>
          <th>Issue Count</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of (dataList | filterByIssueCount: issueCount); let index=index">
          <td>{{index + 1}}</td>
          <td>{{data['First name']}}</td>
          <td>{{data['Sur name']}}</td>
          <td>{{data['Issue count']}}</td>
          <td>{{data['Date of birth'] | date: "dd-MM-yyyy"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>